{% extends "layout.html" %}

{% block content %}
<div class="container">

	<div class="row filas " style="margin-top: 60px">
        {% if msg %}
          <div class="alert {{ msg.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} <strong><span class="glyphicon glyphicon-ok"></span> PERFECTO: </strong> {% endif %}
            {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %} <strong><span class="glyphicon glyphicon-remove"></span> ERROR: </strong> {% endif %}
            {{ msg }}
          </div>
        {% endif %}

        <div class="col-sm-3"></div>
		<div class="col-sm-6">
			<form class="form-group " method="POST" enctype="multipart/form-data">
				{% csrf_token %}
                <div class="col-sm-offset-2">
                    <h4>Seleccione un archivo .csv para cargar Estudiantes: </h4>
                    <div class="col-sm-offset-3">
                        {{form.as_p}}
                    </div>
                </div>
				<div class="col-md-8 col-md-offset-2 text-center" style="margin-top: 50px">
                    <div class="form-group">
                        <button class="btn btn-primary"  type="submit"> <span class="glyphicon glyphicon-send"></span> Cargar </button>
                    </div>
                </div>
			</form>
		</div>
	</div>

	<div class="row"></div>

</div>

{% block js %}
<script type="text/javascript" language="javascript">
	function checkfile(sender) {
	    var validExts = new Array(".csv");
	    var fileExt = sender.value;
	    fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
	    if (validExts.indexOf(fileExt) < 0) {
	      alert("Extensión inválida, solo se aceptan archivos " +
	               validExts.toString());
	      return false;
	    }
	    else return true;
	}
</script>
{% endblock %}

{% endblock %}