{% extends 'layout.html' %}
{% load staticfiles %}

<!DOCTYPE html>


{% block content %}
<div class="container-fluid">
    <form method="post" style="margin-top: 90px">
         {% csrf_token %}
        <div class="row">
            <div class="col-md-3">
                <label for="Trimestre" > Trimestre: </label>
                <select name="Trimestre" id="Trimestre" class="select-style">
                    <option value=" " disable >Seleccione uno</option>
                    <option value="Ene-Mar">Ene-Mar</option>
                    <option value="Abr-Jul">Abr-Jul</option>
                    <option value="Sep-Dic">Sep-Dic</option>
                </select>
            </div>

            <div class ="col-md-3" id="anio">
                <label for="año" >Año: </label>
                    <select class="select-style" id="anio" name="anio" required>
                        <option value=" " disable >Seleccione uno</option>
                        {%for i in rangeano%}
                        <option value="{{i}}" >{{i}}</option>
                        {%endfor%}
                    </select>
            </div>

            <div class ="col-md-3" id="Cohorte">
                <label for="Cohorte" > Cohorte: </label>
                    <select class="select-style" id="Cohorte" name="Cohorte" required>
                        <option value=" " disable >Seleccione uno</option>
                        {% for i in rangecohorte %}
                        <option value="{{i}}" >{{i}}</option>
                        {% endfor %}
                    </select>
            </div>

            <div>
                <label for="cedula">Carrera: </label>
                <input type="text" id="carera" name="carrera" required>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center" style="margin-top: 50px">
                <div class="form-group">
                    <button class="btn btn-primary"  type="submit"><span class="glyphicon glyphicon-share-alt"></span> Cargar Datos </button>
                </div>
            </div>
        </div>
    </form>

    <div class="container-fluid">
        <h2 class="text-center">
            <b>Gráfica Resultado</b>
        </h2>
        <script src="http://d3js.org/d3.v4.min.js"></script>
        <script src="http://dimplejs.org/dist/dimple.v2.3.0.min.js"></script>

        <div id="chartContainer" style="height: 768px; width: 1336px; margin-left: -150px">
            <script type="text/javascript">
                var svg = dimple.newSvg("#chartContainer", 1366, 768);
                var data2 = JSON.parse('{{ data2 | escapejs}}');
                var chart = new dimple.chart(svg, data2);

                chart.addLegend(650, 10, 510, 20, "right");

                var x = chart.addCategoryAxis("x", "creditos");
                x.addOrderRule(["0","1-16","17-32","33-48","49-64","65-80","81-96","97-112"
    ,"113-128","129-144","145-160","161-176","177-192","193-208","209-224","225-240"
    ,"240+"]);
                var y = chart.addMeasureAxis("y", "porcentaje");
                y.overrideMax = 100;
                chart.addSeries(null, dimple.plot.bar);
                chart.draw();
            </script>
        </div>
    </div>

</div>
{% endblock %}

{% block footer %}
    <footer class="container-fluid footer">
        <div class="row">
            <p class="text-center minText"> Universidad Simon Bolivar<br>Sartenejas, Baruta, Edo. Miranda - Apartado 89000 - Cable Unibolivar - Caracas Venezuela. Teléfono +58 0212-9063111.<br>
Diseñada y desarrollada por Athenas-Development</p>
        </div>
    </footer>
{% endblock %}