{% load staticfiles %}

<html lang = "es">
<head>
    <meta charset="utf-8">

    <link href="{% static 'css/cosmo.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/inputInvalido.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <title>{% block title %} Avanzometro {% endblock %}</title>
</head>
<body>
<div class="container">
    {% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="index"><span class="glyphicon glyphicon-home"></span>  <b>Avanzometro</b></a>
        </div>


          <ul class="nav navbar-nav ">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" ><span class="glyphicon glyphicon-user"></span>  Usuario <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="index"><span class="glyphicon glyphicon-log-in"></span>  Iniciar Sesion</a></li>
                <li><a href="registro"><span class="glyphicon glyphicon-pencil"></span>       Registrar Usuario</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" > <span class="glyphicon glyphicon-cog"></span>  Opciones <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#"><span class="glyphicon glyphicon-off"></span>  Salir</a></li>
              </ul>
            </li>
          </ul>
      </div>
    </nav>


    {% endblock %}

    {% block content %}
    {% endblock %}
    
    {% block footer %}
    <footer class="container-fluid footer">
        <div class="row">
            <p class="text-center minText"> Universidad Simon Bolivar<br>Sartenejas, Baruta, Edo. Miranda - Apartado 89000 - Cable Unibolivar - Caracas Venezuela. Teléfono +58 0212-9063111.<br>
Diseñada y desarrollada por Athenas-Development</p>
        </div>
    </footer>
    {% endblock %}
</div>  

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src='{% static 'js/bootstrap.min.js' %}'></script>
    {% block js %}
    {% endblock %}

</body>
</html>