{% extends 'layout.html' %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid">
    <div class="col-sm-8 col-md-offset-2" style="margin-top: 90px">
        <form method="post" id="registrarform">
            {% csrf_token %}

            <div class="row" >
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input class="form-control" type="text" name="first_name" id="nombres" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ]([a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+[\s-]?[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]*)*" maxlength="30"  required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label >Apellidos</label>
                        <input class="form-control" type="text" name="last_name" id="apellidos" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ]([a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+[\s-]?[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]*)*" maxlength="30" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label >Correo Electrónico</label>
                        <input class="form-control" type="email" name="username" id="username" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label >Contraseña</label>
                        <input class="form-control" type="password" name="password1" id="password1" maxlength= "16" minlength= "8"  required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label >Confirmar contraseña</label>
                        <input class="form-control" type="password" name="password2" id="password2" maxlength= "16" minlength= "8" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="form-group">
                        <button class="btn btn-primary "type="submit">Registrar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src='{% static 'js/inputsRegistro.js' %}'></script>
{% endblock %}
